/*Playlist Covers*/

.playlist{

}

.imageContainerPlaylist{
    display: grid;
    position: relative;
}

.moreVertical{
    width: 18px;
    height: 18px;
    position: absolute;
    margin: 5px 5px auto auto;
    justify-self: end;
}

.playBtn{
    position: absolute;
    margin: auto 5px 5px auto;
    align-self: end;
    justify-self: end;
}

.imagePlaylist{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-x: hidden;
}
.titlePlaylist{
    margin: 0 auto 0 0;
    font-size: 16px;
    font-weight: bold;
}

.artistPlaylist{
    margin: 0 auto 0 0;
    font-size: 14px;
    font-weight: normal;
}


/*Song Covers*/

.quickpick{
    display: flex;
}


.imageSong{
    width: 48px;
    height: 48px;
    overflow-x: hidden;
    margin-right: 10px;
}
.titleSong{
    margin: 0 auto 0 0;
    font-size: 16px;
    font-weight: bold;
}

.artistSong{
    margin: 0 auto 0 0;
    font-size: 14px;
    font-weight: normal;
}

.text{
    text-align: left;
}

/*Reccomended Covers*/
.imageRecommended{
    width: 210px;
    height: 210px;
    overflow-x: hidden;
    margin-right: 10px;
}

/*Similar To*/
.imageSimilar{
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.textSimilar{
    text-align: left;
}